<link rel="stylesheet" href="style.css"> 

<h1 id="fancy-bg">
    Login Page
</h1>

<h3>
    Please note: Username and Password are case sensitive
</h3>

<form action="/login" method="POST">
    <label for="username">USERNAME: </label>
    <input type="text" placeholder="username" id="xyz" name="username">
    <label for="password"><br><br>PASSWORD: </label>
    <input type="password" id="password" name="password">
    <br><br>
    <button class = "button1">Login</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">SignUp</a></li>
</ul>