<link rel="stylesheet" href="style.css"> 

<h1 id="fancy-bg">
    Sign Up:
</h1>

<h3>
    Please note: Username and Password are case sensitive
</h3>
<form action="/register" method="POST">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
    <label for="username"><br><br>Pick a Username: </label>
    <input type="text" id="username" name="username">
    <label for="password"><br><br>Pick a Password: </label>
    <input type="password" id="password" name="password">

    <br><br>

    <button class = "button1">Submit</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>